tensorflow>=2.8.0
tensorflow_text
tensorflow-hub

transformers>=4.20.0
sentence-transformers>=2.2.0
#transformers-interpret
sentencepiece>=0.1.95
huggingface_hub

nltk>=3.7
rake-nltk
fasttext-wheel
spacy>=3.3.0
zeugma>=0.49
flair>=0.10
keybert>=0.5.1
deep_translator==1.8.0
corextopic

scikit-learn>=1.0.2
lightgbm>=3.3.2

pandas>=1.4.2
scipy>=1.8.0
coverage

https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.3.0/en_core_web_lg-3.3.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.3.0/en_core_web_md-3.3.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.3.0/en_core_web_trf-3.3.0-py3-none-any.whl

git+https://github.com/boudinfl/pke.git
git+https://github.com/LIAAD/yake

